<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.first_name %>!</h1>

    <p>Welcome to your all in one registry for any occasion. If you have any questions dont hesitate to ask.

    If you ever have problems with sign in or your password please contact us at onelistadmin@gmail.com.

    Feel free to start creating lists and groups. When you invite people to a group it will send them an
    email alert to sign up.

    Thanks,

    OneList. Team!</p>
  </body>
</html>
