<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your Onelist. password! </h1>
    <p>Your onelist. username is: <%= @user.username %></p>
    <p>Your onelist. new password is: <%= @user.password %></p>
    <p>To reset your password, login in and go to your profile settings!</p>
  </body>
</html>
