* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style: none;
}

#login .inputs{
 width: 100%;
}

.login .inputs label {
 width: 60%;
 margin-left:20%;
}

.login button {
 width: 20%;
 margin-left: 40%
}

div#username {
 margin-top: 15px;
 color: white;
}

button.btn.btn-default {
 background-color: #2196F3;
 color: white;
 text-shadow: none;
 border: none;
}

button#masterListBtn a {
 color: white;
 text-decoration: none;
 border: none;
}
li#invitesHolder {
 color: #9d9d9d;
 text-decoration: none;
 margin-left: 15px;
 margin-right: 15px;
}

/*a {
 color: #9d9d9d;
 text-decoration: none;
}*/

span#invites a {
 float: left;
 padding-right: 4px;
 color: #9d9d9d;
 text-decoration: none;
}

span#invites {
 float: left;
 height: 18px;
 margin-top: 15.1px;
}

/*#imgSearch {
  width: 100px;
}*/

#addButton a {
  color: white;
  text-decoration: none;
}

img#imgIndex {
width: 100px;
}

div#items {
height: 250px;
text-align: center;
}

div#inline {
  display: inline-flex;
}

div#name {
font-size: 15px;
padding-right: 15px;
line-height: 2;
}

div#imageIndex img {
width: 100px;
}

hr#headerDivider {
margin-top: 0px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eee;
}

div#logo {
font-size: 40px;
margin: 10px;
}

ul#navHeader li a {
line-height: 4;
color: black;
}
